@import "_variables.scss";
@import "_funcs.scss";

#markerTitle{
    text-align: center;
    margin: 0 auto;
    width: auto;
    height: auto;
    font-size: 2.5vw;
}
#markerDescription{
    text-align: justify;
    font-size: 1.8vw;
    float: left;
    width: 60%;
    height: auto;
}
#markerCharacters{
    text-align: left;
    font-size: 1.8vw;
    float: left;
    margin-left: 5%;
    height: auto;
}
footer{
    padding-top: 0.7em;
    height: 1.5em;
    font-size: 1vw;
    color: $main-orange-color;
    background-color: $main-grey-color;
}
#edittors{
    height: 60vh;
    width: 100%;
    display: relative;
}
textarea {
    resize: none;
}
#timelinePaint{
    width: 100%;
    display: relative;
}
#paintTitle{
    @extend %editTitleSettings;
}
#colorChoose{
    @extend %centerElement;
}
#moveTitle{
    @extend %editTitleSettings;
}
#deleteTitle{
    @extend %editTitleSettings;
}
#editTitle{
    @extend %editTitleSettings;
}
#inputEditTitle{
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 3vh;
}
input[type="text"]{
    font-size: 2.5vw;
    size: 100;
    text-align: center;
}
#editDescription{
    width: 58%;
    text-align: justify;
    font-size: 1.8vw;
    float: left;
    margin-left: 2%;
    height: 90%;
}
#editDescription>textarea{
    font-size: 1.5vw;
    width: 95%;
    height: 90%;
}
#editCharacters{
    float: left;
    font-size: 1.8vw;
    width: 38%;
    margin-right: 2%;
    height: 90%;
}
#editCharacters>textarea{
    font-size: 1.5vw;
    width: 99%;
    height: 90%;
}
#editMenu{
    float: left;
    margin-left: 2%;
    background-color: gray;
    font-size: 3vw;
    box-shadow: 0.5vw 0.5vh 0.5vw 0.1vw #555;
}
.editMenuElement{
    height: 1.5em;
    width: 1.5em;
    padding: 0.1em;
    padding-right: 0;
    float: left;
    display: block;
    transition: all 0.2s;
    overflow: hidden;
}
.editMenuElement:hover{
    background-color: $main-orange-color;
}
.editMenuSpacer{
    padding: 0.25em;
    float: left;
    display: block;
    transition: all 0.2s;
}
.activatedElement{
    background-color: $main-orange-color;
}
.activatedElementIcon{
    background-color: $main-orange-color;
    transform: rotate(45deg);
}
#buttons{
    height: 15%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
}
.cancelButton{
    margin-left: 2%;
    background-color: gray;
    float: left;
    transition: all 0.2s;
    overflow: hidden;
    display: block;
    /*font-size: 3vw;*/
    box-shadow: 0.5vw 0.5vh 0.5vw 0.1vw #555;
}
.cancelIcon{
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    padding: 0.2em;
    margin-left: -0.5em;
    float: left;
    transition: all 0.2s;
    overflow: hidden;
}
.cancel{
    height: 2em;
    width: 3.1em;
    padding-top: 1em;
    transition: all 0.2s;
    overflow: hidden;
    padding-right: 0.3em;
}
.cancelButton:hover{
    background-color: $main-orange-color;
}
.saveButton{
    margin-right: 2%;
    float: right;
    background-color: gray;
    transition: all 0.2s;
    overflow: hidden;
    display: block;
    /*font-size: 3vw;*/
    box-shadow: 0.5vw 0.5vh 0.5vw 0.1vw #555;
}
.saveIcon{
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    padding: 0.2em;
    margin-left: -0.5em;
    float: left;
    transition: all 0.2s;
    overflow: hidden;
}
.save{
    height: 2em;
    width: 3.1em;
    padding-top: 1em;
    transition: all 0.2s;
    overflow: hidden;
    padding-right: 0.3em;
}
.saveButton:hover{
    background-color: $main-orange-color;
}
#timeline{
    display: block;
    margin: 0 auto;
    margin-bottom: 1%;
}
