%editTitleSettings{
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 3vh;
      font-size: 2.5vw;
}

%centerElement{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}
